.card{
    border-radius: 1rem;
    height: 20rem;
    width: 30rem;
    margin: 2rem;
    box-shadow: 0 1.3rem 4.9rem #f7d2de;
    position: relative;
    .title{
        margin: 1rem;
        font-weight: bold;
        color: #707070;
    }
    .category{
        font-size: 1.6rem;
        font-weight: 400;
        color: #707070;
        background-color: #FAE8EE;
        margin: 1rem;
        border-radius: 1rem;
        color: #C42828;
        display: inline-block;
        padding: .5rem 1rem;
    }
    .stats{
        position: absolute;
        bottom: 1rem;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 80%;
    }
    .likeAndDislike {
        display: flex;
        justify-content: space-evenly;
        margin: 3rem 0 0 2rem;
        p {
            position: relative;
            right: 2rem;
        }
    }
    p{
        color: #707070;
    }
    .wrapperTrash {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        align-self: center;
        justify-content: center;
        height: 3.5rem;
        border-radius: 2rem;
        width: 3.5rem;
        box-shadow: 0 .3rem .6rem #00000029;
    }
}